.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/runConfigurations.xml
app/app.iml
BPL-ValentineCliff.iml
.idea/
/.idea
.DS_Store
/build
/captures
chamaconnect.iml
.idea/misc.xml
.idea/gradle.xml
